#mc_infos{
  
    width: 100%;
    padding: 2em;
    background: url("../img/fondcompte.jpg") ;
    background-size: cover;
    background-position: 0px -580px;
    color: white;
    border-radius: 5px;
  
}

#mc_Nom{
    font-size: 2em;
}

#deco-but{
    color: black;
    width: 10em;
    height: 3em;
    border: 1px solid #ddd9d9;
    border-radius: 5px;
}

#deco-but:hover{
    cursor: pointer;
    transform: scale(1.05);
}